body {
    margin: 0;
    padding: 0;
    background-color: #F3EFF5;
}

body * {
    z-index: 1;
}

.root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F3EFF5;
    margin: 0;
    position: relative;
    z-index: 1;
}

header {
    margin-bottom: 20px;

    nav {
        display: flex;
        height: 13vh;
        padding-inline: 5%;
        justify-content: space-between;
        align-items: center;

        .logo {
            height: 90%;

            img {
                height: 100%;
            }
        }
    }

    ul {
        margin: 0;
        display: flex;
        gap: 25px;
        font-size: 20px;
        list-style-type: none;
        width: max-content;

    }

    button {
        height: fit-content;
        width: fit-content;
        border: none;
        border-radius: 5px;
        font-size: 17px;
        background-color: #3F7D20;
        color: #F3EFF5;
        padding: 7px 25px;
    }

    .banner {
        height: 80vh;
        width: 100%;
        position: relative;
        display: flex;

        .inf {
            z-index: 1;
            position: relative;
            left: 10%;
            align-self: center;
            color: #F3EFF5;
            margin-bottom: 100px;

            h2 {
                font-size: 80px;
                margin: 0;
            }

            p {
                font-size: 20px;
            }
        }

        img {
            position: absolute;
            height: 100%;
            z-index: 0;
            top: 0;
            width: 100%;
            object-fit: cover;
        }
    }
}

.stats {
    background-color: #3F7D20;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #F3EFF5;

        p {
            font-size: 19px;
            font-weight: 300;
            margin: 0;
        }
    }

    h3 {
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
        margin: 0;
    }
}

section.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2% 0;
    align-items: center;

    p {
        margin: 0;
        font-size: 19px;
        color: #454955;
    }

    h2 {
        margin-bottom: 15px;
        color: #0D0A0B;
        font-size: 35px;
    }

    .abtmain {
        gap: 3%;
        display: flex;
        padding: 2% 5%;
        justify-content: space-evenly;

        img {
            width: 40%;
            object-position: left;
            object-fit: cover;
        }

        p {
            width: 45%;
            font-size: 19px;
            line-height: 28px;
        }

        p::after {
            content: " ...";
        }
    }
}

section.service {
    display: flex;
    padding: 3%;
    justify-content: space-evenly;

    .card {
        background-color: #50a128;
        width: 25%;
        border-radius: 7px;
        overflow: hidden;

        p {
            color: #F3EFF5;
            line-height: 20px;
            padding-inline: 12px;
            margin: 0;
            margin-bottom: 7px;
        }

        h3 {
            margin: 5px 0;
            padding-inline: 14px;
            text-align: center;
            color: #F3EFF5;
        }

        img {
            width: 100%;
            aspect-ratio: 5/3;
            object-fit: cover;
        }
    }
}

section.overlay {
    margin: 3% 0;
    width: 100%;
    height: 30vh;
    background-color: #00000030;
}

img.below {
    width: 100vw;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    position: fixed;
}

footer {
    font-family: sans-serif;
    width: 100%;
    background-color: #3F7D20;
    position: relative;
    z-index: 1;
    color: #F3EFF5;
    min-height: 30vh;
    bottom: 0;
    display: flex;
    justify-content: space-around;

    .contact {
        .fa {
            font-size: 40px;
            margin-inline: 10px;
        }

        p:last-child {
            width: 50%;
        }
    }
}

.power {
    position: absolute;
    bottom: 0;
    padding-inline: 10px;
    color: #72B01D;
    left: 0;
}

@media (max-width:650px) {
    header {
        .banner {
            height: 50vh;
        }

        nav {

            width: 90%;
            overflow: hidden;
            padding-inline: 5%;

            ul {
                display: none;
                z-index: 2;
                position: absolute;
                top: 13vh;
                left: 0;
                width: 100%;
                color: #F3EFF5;
                padding: 5% 0;
                text-align: center;
                background-color: #50a128;
                flex-direction: column;
            }

            button {
                padding: 10px 25px;
                margin: 0 10px;
                background-color: #0071D3;
            }
        }
    }

    .stats {
        flex-wrap: wrap;
        gap: 7px;

        h3 {
            font-size: 20px;
        }

        p {
            text-wrap: wrap;
            font-size: 10px;
        }
    }

    section.about {
        h2 {
            width: 80%;
            font-size: 28px;
            text-align: center;
        }

        p {
            width: 80%;
            text-align: center;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .abtmain {
            flex-direction: column;
            gap: 15px;
            align-items: center;

            img {
                width: 95%;
            }

            p {
                max-height: 50vh;
                overflow-y: hidden;
                width: 97%;
            }

            p::after {
                content: "...";
            }
        }
    }

    section.service {
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .card {
            width: 92%;
            border-radius: 5px;
        }
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 10%;
    }

    header {
        position: relative;

        .banner {
            .inf {
                z-index: 1;
                position: relative;
                left: 10%;
                align-self: center;
                color: #F3EFF5;
                margin-bottom: 50px;

                h2 {
                    font-size: 55px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }

    img.below {
        height: 30vh;
        object-fit: cover;
        position: relative;
    }

    .McButton {
        position: absolute;
        right: 5px;
        margin: 10px;
        width: 44px;
        justify-self: center;
        height: 33px;
        cursor: pointer;
    }

    .McButton b {
        position: absolute;
        left: 0;
        width: 44px;
        height: 3px;
        background-color: rgb(0, 0, 0);
    }

    .McButton b:nth-child(1) {
        top: 0;
    }

    .McButton b:nth-child(2) {
        top: 50%;
    }

    .McButton b:nth-child(3) {
        top: 100%;
    }
}
@media (min-width:650px) {
    header {
        nav{
            ul{
                display: flex !important;
            }
        }
    }
}
